.PT{
  text-align: center; color:white; text-size-adjust:30%;position:relative;top: 0px;background-color: red;padding:5px;border-radius: 10px;
}
#class{
  text-align: center;border:solid;border-radius: 10px; margin-left: 50%;
}